<div class="container p-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Error {{errorStatus}}</h1>
            <h5>{{errorMsg}}</h5>
        </div>
    </div>
</div>