
    <h1>Home page</h1>
    <p>This page is public</p>
    <a href="/profile">Profile</a>
    <br>
    <a href="/private-content-2">Other private content</a>
    <br>
    <a href="/login">Login</a>
    <br>
    <a href="/sessionLogout">Log out</a>
