<main>
    <section>
        <form id="login">
            <label>Login</label>
            <input type="text" name="login" />
            <label>Password</label>
            <input type="password" name="password" />
            <button>Log in</button>
        </form>
    </section>
    <section>
        <p>User: aaa@aaa.com</p>
        <p>___</p>
        <p>Pass: 123123</p>
    </section>
    <section>
        <p id="loginMsg"></p>
    </section>
</main>