<form id="loginForm">
    <label>Login</label>
    <input type="text" name="login" />
    <label>Password</label>
    <input type="password" name="password" />
    <button type="submit">Log in</button>
</form>

<p>User: aaa@aaa.com</p>
<p>Pass: 123123</p>

<p id="loginMsg"></p>