<h1>Perfil</h1>
<h5>Esta página es privada</h5>
<p> <strong>ID de usuario: </strong> {{user_id}}</p>
<p> <strong>Email: </strong> {{user_email}}</p>
<br>
<a href="/">Home</a>
<br>
<a href="/private-content-2">Otro contenido privado</a>
<br>